@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: 'Segoe UI', sans-serif;
    line-height: 135%;
}

html {height: 100%;}

a { 
    color: #f58b8b;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;

}

a:hover {
    color: #8b9ff5;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {color:#8ce4a6}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* Selectio block */

    ::selection {background: #f58b8b; color:#fff;}
    ::-moz-selection {background: #f58b8b; color:#fff;}


header, footer {
    width: 98%;
    background-color: #fff;
    min-height: 50px;
    float:left;
}

#logo {
    font-size: 2em;
    font-family: Comic Sans MS, sans-serif ;
    color: silver;

}

.right { float: right;}
.left { float: left;}
.clear { clear: both;}

.contact {
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif ;
    margin-left: 20px;
}

input[type=text].filed {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;  
    margin-left: 20px;
}

input[type=text].filed:focus {
    border: 2px solid #f58b8b;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

footer {
    padding: 1%;
    border-top: 2px solid silver;
    margin-top: 10px;
    padding-bottom: 2%;
}
footer img { 
    width: 9%;
    float: left;
    margin-right: 5px;
}

#page-wrap::after {
    content: "";
    display: block;
}

footer , #page-wrap:after { height: 10px;}
#page-wrap {
    min-height: 96%;
    margin-bottom: -10px;
}

#menu {
    color: #666;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}

#menu hr {
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 2%;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    color:#666;
}

#menuHrefs a:hover {
    background-color: #ececec;
}

hr {
    display: block;
    border: 0;
    height: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

/* Основные стили для сайт */

#wrapper {
    float: left;
    width: 100%;
    margin-top: 20px ;
}
#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
}

#wrapper #articles article {
    float: left;
    width: 31.33333%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 2%;
    min-height: 400px;
}
#wrapper #articles article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

#wrapper #articles article h2 {
    width: 60%;
    margin-left: 30%;
    font-weight: normal;
    font-size: 1.7em;
    color: #4a4a4a;
}

#wrapper #articles article p {
    width: 80%;
    margin-left: 10%;
    text-indent: 1em;
}
#wrapper #articles article a {
    padding: 10px 5px;
    background-color: #4a4a4a;
    margin-left: 5%;
    border-radius: 5px;
    float:left;
    margin-top: 5px;
    color: #fff;
    margin-bottom: 10px;
}

#wrapper #articles article a:hover {
    background-color: #7feb7f;
}
/* Центральный блок нашего сайт */

#main_soc_block {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: 20px 0;
    height: 200px;
    float: left;
    background: url('../img/fon_block.jpg') repeat-x center;
}

#main_soc_block_in {
    text-align: center;
    padding: 1%;
    height: 100px;
    background-color: #fafafa;
    border: 1px solid silver;
    border-radius: 7px;
    width: 500px;

}

#main_soc_block_in a {
    float: left;
    padding: 5px 10px;
    background-color: #e9af32;
    border-radius: 5px;
    color: #ffff;
    margin-left: 35%;
    margin-top: 15px;
}

/*О нас*/

#about_us {
    width: 60%;
    float: left;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#columRight {
    width: 30%;
    float: left;
    margin-left: 5%;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}